services:
  jenkins:
    image: jenkins/jenkins:lts
    container_name: jenkins
    privileged: true
    user: root
    environment:
      - TZ=Europe/Vienna
    ports:
      - 8080:8080
      - 50000:50000
    volumes:
      - ${PATH_JENKINS_DATA}:/var/jenkins_home
      - /var/run/docker.sock:/var/run/docker.sock
    restart: unless-stopped