# Note: After trying out ntopng as docker solution, i strongly
#       recommend using native or atleast utilizing permanent storage 
#       another way than redis, trust me, the pain is not worth it.

services:
  ntopng:
    image: ntop/ntopng:latest
    container_name: ntopng
    restart: unless-stopped
    network_mode: host
    volumes:
      - ${PATH_NTOPNG_DATA}:/var/lib/ntopng
    cap_add:
      - NET_ADMIN
      - NET_RAW
    environment:
      - TZ
    depends_on:
      - redis
    command: >
      ntopng
      --community
      --disable-redis
      --interface=enp3s0
      --http-port=3000
      --data-dir=/var/lib/ntopng
      --disable-login-reset
      --check-interval=10
      --sticky-hosts
      --local-networks="192.168.0.0/16"
      --redis=${REDIS_HOST_IP}:${REDIS_HOST_PORT}

  redis:
    image: redis:7
    container_name: redis
    restart: always
    volumes:
      - ${PATH_NTOPNG_REDIS_DATA}:/data
    command: >
      redis-server
      --appendonly yes
      --appendfsync everysec
      --no-appendfsync-on-rewrite yes
      --stop-writes-on-bgsave-error no
    ports:
      - ${REDIS_HOST_PORT}:6379
    mem_limit: 512m